[Desktop Entry]
Encoding=UTF-8
Name=Link to Cpu0 architecture and LLVM structure — Tutorial: Creating an LLVM Backend for the Cpu0 Architecture
Type=Link
URL=http://jonathan2251.github.io/lbd/llvmstructure.html
Icon=text-html
Name[en_US]=Creating an LLVM Backend for the Cpu0 Architecture
