[Desktop Entry]
Encoding=UTF-8
Name=Link to LLVM’s Analysis and Transform Passes — LLVM 3.7 documentation
Type=Link
URL=http://llvm.org/docs/Passes.html
Icon=text-html
