[Desktop Entry]
Encoding=UTF-8
Name=Link to LLVM Language Reference Manual — LLVM 3.7 documentation
Type=Link
URL=http://llvm.org/docs/LangRef.html
Icon=text-html
