[Desktop Entry]
Encoding=UTF-8
Name=Link to The Architecture of Open Source Applications: LLVM
Type=Link
URL=http://www.aosabook.org/en/llvm.html
Icon=text-html
